<%= form_for @store, :html => {:multipart => true } do |f| %>
  <% if @store.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@store.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @store.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label '名称' %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label '所处商场' %><br>
    <%= f.text_field :mall %>
  </p>

  <p>
    <%= f.label '背景图片' %><br>
    <%= f.file_field :background %>
  </p>

  <p>
    <%= f.label 'logo 图片' %><br>
    <%= f.file_field :logo %>
  </p>
  <p>
    <%= f.submit '提交'%>
  </p>
<% end %>

<%= link_to '返回', root_path %>
