<!DOCTYPE html>
<html>
<head>
  <title>Bbwifi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "phone-window">
	<div class="ad-title">
	  <div style="float:left;width:80%"> 正在跳转...</div>
	  <div style="float:right;width:20%" class="count">10</div>
	</div>

	<% for i in 0...3 do %>
	  <% if @active_ads[i]%>
        <div class = "ad">
	      <a href="<%=@active_ads[i].link_path%>"><%= image_tag @active_ads[i].image_path, :title =>@active_ads[i].link_path %></a>
	    </div>
	  <% end %>
	<% end %>
</div>
</body>
