<h5>名称</h5>
<%= @store.name %><br />
<h5>所处商场</h5>
<%= @store.mall %><br />
<h5>在线人数</h5>
<%= @store.onlines %><br />
<h5>背景图</h5>
<%=image_tag  @store.background %><br />
<h5>logo图片</h5>
<%=image_tag  @store.logo %><br />
