<% position = ['不显示','上','左','右'] %>
<h5>名称</h5>
<%= @advertisement.name %><br />
<h5>位置</h5>
<%= position[@advertisement.position] %><br />
<h5>链接</h5>
<a href="<%= @advertisement.link_path %>"><%= @advertisement.link_path %></a><br />
<h5>图片</h5>
<%=image_tag  @advertisement.image_path %><br />
