<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab"> 管理广告</a></li>
      <li><a href="#tab2" data-toggle="tab">广告预览</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
	<div><%=link_to '添加',new_advertisement_path, :class=>'btn btn-success margin-10'%></div>
	<div>
	  <table class="margin-10">
	    <tr>
	      <th>名称</th>
	      <th>位置</th>
	      <th>链接</th>
	      <th></th>
	      <th></th>
	      <th></th>
	    </tr>
	    <%if @advertisements != nil%>
	      <% position=['不显示','上','中','下'] %>
	      <% @advertisements.each do |advertisement|%>
		<tr>
		  <td><%= advertisement.name %></td>
		  <td><%= position[advertisement.position] %></td>
		  <td><%= advertisement.link_path%></td>
		  <td><%=link_to '显示',advertisement_path(advertisement)%></td>
		  <td><%=link_to '修改',edit_advertisement_path(advertisement)%></td>
		  <td><%=link_to '删除',advertisement_path(advertisement),method: :delete,data: {confirm: '确定删除？'}%></td>
		</tr>
              <% end %>
	    <%else%>
	      <tr>
                <td>当前项没有条目</td>
	      </tr>
	    <%end%>
	  </table>
	</div>
      </div>

      <div class="tab-pane" id="tab2">
	<div class = "phone-window">
	  <div class = "ad-title"> 正在跳转</div>

	  <% for i in 0...3 do %>
	    <% if @active_ads[i]%>
              <div class = "ad">
		<a href="<%=@active_ads[i].link_path%>"><%= image_tag @active_ads[i].image_path, :title =>@active_ads[i].link_path %></a>
	      </div>
	    <% end %>
	  <% end %>
        </div>
      </div>

    </div>
</div>
